{{#if isPermanent}}
  {{yield (hash
            toolbar-spacer=(component "mdc-drawer/toolbar-spacer" permanent=true temporary=false persistent=false)
            content=(component "mdc-drawer/content" permanent=true temporary=false persistent=false)
          )}}

{{else}}
  <div class="mdc-{{if temporary "temporary" "persistent"}}-drawer__drawer">
    {{yield (hash
              toolbar-spacer=(component "mdc-drawer/toolbar-spacer" permanent=false temporary=temporary persistent=persistent)
              content=(component "mdc-drawer/content" permanent=false temporary=temporary persistent=persistent)
            )}}
  </div>
{{/if}}